<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdsig.mybatis.mapper.BdOrgunitMappingMapper">
  <resultMap id="BaseResultMap" type="com.gdsig.mybatis.model.BdOrgunitMapping">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="orgunit_id" jdbcType="INTEGER" property="orgunitId" />
    <result column="orgunit_name" jdbcType="VARCHAR" property="orgunitName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, orgunit_id, orgunit_name, parent_id, parent_name
  </sql>
  <select id="selectByExample" parameterType="com.gdsig.mybatis.model.BdOrgunitMappingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bd_orgunit_mapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bd_orgunit_mapping
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bd_orgunit_mapping
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gdsig.mybatis.model.BdOrgunitMappingExample">
    delete from bd_orgunit_mapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gdsig.mybatis.model.BdOrgunitMapping">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bd_orgunit_mapping (orgunit_id, orgunit_name, parent_id, 
      parent_name)
    values (#{orgunitId,jdbcType=INTEGER}, #{orgunitName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{parentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gdsig.mybatis.model.BdOrgunitMapping">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bd_orgunit_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgunitId != null">
        orgunit_id,
      </if>
      <if test="orgunitName != null">
        orgunit_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentName != null">
        parent_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgunitId != null">
        #{orgunitId,jdbcType=INTEGER},
      </if>
      <if test="orgunitName != null">
        #{orgunitName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="parentName != null">
        #{parentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gdsig.mybatis.model.BdOrgunitMappingExample" resultType="java.lang.Long">
    select count(*) from bd_orgunit_mapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bd_orgunit_mapping
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orgunitId != null">
        orgunit_id = #{record.orgunitId,jdbcType=INTEGER},
      </if>
      <if test="record.orgunitName != null">
        orgunit_name = #{record.orgunitName,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.parentName != null">
        parent_name = #{record.parentName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bd_orgunit_mapping
    set id = #{record.id,jdbcType=INTEGER},
      orgunit_id = #{record.orgunitId,jdbcType=INTEGER},
      orgunit_name = #{record.orgunitName,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=INTEGER},
      parent_name = #{record.parentName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdsig.mybatis.model.BdOrgunitMapping">
    update bd_orgunit_mapping
    <set>
      <if test="orgunitId != null">
        orgunit_id = #{orgunitId,jdbcType=INTEGER},
      </if>
      <if test="orgunitName != null">
        orgunit_name = #{orgunitName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="parentName != null">
        parent_name = #{parentName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdsig.mybatis.model.BdOrgunitMapping">
    update bd_orgunit_mapping
    set orgunit_id = #{orgunitId,jdbcType=INTEGER},
      orgunit_name = #{orgunitName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      parent_name = #{parentName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>